<div class="view project project-{{id}}">
    <div class="layer"></div>
    <div class="content clearfix">
        <a class="btn left col-2 top" href="/" data-navigo>About</a>
        <div class="content-centered">
            <h1 class="col-3">{{name}}</h1>
            <p class="col-3">{{description}}</p>
            <a class="btn right col-right-3" target="_blank" href="{{link}}">Website</a>
            <div class="project-info col-3">
                <p>{{scope}}</p>
                <p>{{job}}</p>
            </div>
        </div>
        <a class="btn left col-2 bottom" href="contact" data-navigo>Contact</a>        
    </div>
</div>