<div class="view project project-{{id}}">
    <div class="layer"></div>
    <div class="content clearfix">
        <a class="btn left col-2 top" href="/" data-navigo rel="no-refresh" ><span>About</span></a>
        <div class="content-centered">
            <h1 class="col-3">{{name}}</h1>
            <p class="col-3">{{description}}</p>
            <a class="btn right col-right-3" target="_blank" href="{{link}}"><span>Website</span></a>
            <div class="project-info col-3">
                <p><span>{{scope}}</span></p>
                <p><span>{{job}}</span></p>
            </div>
        </div>
        <a class="btn left col-2 bottom" href="contact" data-navigo rel="no-refresh" ><span>Contact</span></a>        
    </div>
</div>